package-manager-strict-version=false
pnpm.onlyBuiltDependencies[]=sharp
pnpm.onlyBuiltDependencies[]=unrs-resolver
pnpm.onlyBuiltDependencies[]=@prisma/engines
pnpm.onlyBuiltDependencies[]=esbuild
pnpm.onlyBuiltDependencies[]=prisma
